.navbar {
    height: 50px;
}
.navbar-brand{
    padding-left: 15vh;
}

.navbar-nav {
    padding-right: 10vh;
}

.light-green-btn{
    background-color: #198754; /* Light green */
}

.Fashion{
    padding: 50px 0;
}

.Latest{
    padding: 50px 0;
}

.custom-container {
    max-width: 1100px; 
    top: 40px;
}

.container-contact{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form {
    width: 100%;
    max-width: 700px; /* Adjust the max-width as needed */
}
